@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

.module {
  position: relative;
}
.module::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1504817281472-f56fda3040a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1338&q=80");
  filter: grayscale(75%);
  /* filter:blur(15px); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.module-inside {
  position: relative;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  max-width: 60%;
  top: 15%;
  margin: auto;
}

.contain {
  /* border: 1px solid #000; */
  /* display:flex; */
  /* align-items: center; */
  /* justify-content: center; */
  height: 93vh;
}
section {
  /* border: 1px solid #000; */
  border-radius: 20px;
  text-align: center;
  letter-spacing: 0.33px;
  padding: 3%;
  /* background-image: linear-gradient(to right, #31d291, #1f1f1f); */
  background-color: rgba(49, 210, 145, 0.95);
}

section h1 {
  font-size: 42px;
}

section p {
  font-size: 24px;
}

nav {
  padding: 0.5%;
}

nav img {
  /* border: 1px solid #000; */
  /* width:100%; */
  display: block;
  margin: auto;
}

/*  Ipad pro*/

@media screen and (max-width: 1024px) {
  .module::before {
    background-image: url("https://images.unsplash.com/photo-1563283323-afa46a75568c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1329&q=80");
  }

  .contain {
    display: block;
    border: 1px solid #fff;
    height: 97vh;
  }

  .module-inside {
    max-width: 66%;
    margin: auto;
    top: 15%;
  }

  section h1 {
    font-size: 80px;
  }

  section p {
    font-size: 40px;
  }
}

@media screen and (max-width: 445px) {
  .contain {
    width: 105%;
    position: relative;
    right: 2.5%;
  }
  /* .module::before {
    background-image: url("https://images.unsplash.com/photo-1497449711066-ecd7e3d6a484?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1001&q=80");
  } */

  .module-inside {
    max-width: 80%;
    padding: 1.5%;

    position: relative;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    max-width: 75%;
    top: 10%;
    margin: auto;
  }

  section h1 {
    font-size: 24px;
  }

  section p {
    font-size: 18px;
  }

}
